{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    ["@babel/transform-runtime"],
    ["babel-plugin-syntax-dynamic-import"]
  ] 
}