// fonts
// prefix f- means "font"

$f-regular: "MontserratRegular", sans-serif;
$f-bold: "MontserratBold", sans-serif;

// global colors

// base palette

$accent: #f49b00;

// additional сolors

$violet: #665eaa;
